################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/divisist_portal/FileContentIndex/357fdb56-8259-4e39-bf0e-ef8a099bf60c.vsidx
